<form class="bd-search d-flex align-items-center">
  <span class="algolia-autocomplete" style="padding-left:25px;padding-bottom:10px;position: relative; display: inline-block; direction: ltr;"><input
      type="search" class="form-control ds-input" id="search-input" placeholder="Search..." aria-label="Search for..."
      autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false"
      aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;">
    <pre aria-hidden="true"
      style="position: absolute; visibility: hidden; white-space: pre; font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: normal; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
    <span class="ds-dropdown-menu" role="listbox" id="algolia-autocomplete-listbox-0"
      style="position: absolute; top: 100%; z-index: 100; display: none; left: 0px; right: auto;">
      <div class="ds-dataset-1"></div>
    </span></span>
  <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse"
    data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false"
    aria-label="Toggle docs navigation"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30"
      height="30" focusable="false">
      <title>Menu</title>
      <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10"
        d="M4 7h22M4 15h22M4 23h22"></path>
    </svg>
  </button>
</form>
<!-- <nav class="collapse bd-links" id="bd-docs-nav"> -->

  <ngb-accordion [closeOthers]="true">

    <ngb-panel *ngFor="let sprite of sprites()">
      <ng-template  ngbPanelTitle>
        <span (click)="changePreview(sprite)">{{sprite.name}}</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="row">
          <div class="col-5">Type:</div>
          <div class="col-7">{{typeString(sprite.type)}}</div>
        </div>
        <div class="row">
          <div class="col-5">Sprites:</div>
          <div class="col-7">{{sprite.tiles.length}}</div>
        </div>
        <div class="row">
          <div class="col-5">Width:</div>
          <div class="col-7">{{sprite.width}}</div>
        </div>
        <div class="row">
          <div class="col-5">Height:</div>
          <div class="col-7">{{sprite.height}}</div>
        </div>
        <!-- <div class="row">
        <div class="col-6">Palette:</div>
        <div class="col-6">{{sprite.palette}}</div>
      </div> -->
        <div class="form-group">
          <label>Palette</label>
          <select class="form-control" [(ngModel)]="sprite.palette">
            <option *ngFor="let pal of getPalettes()" [value]="pal.hash"
              [attr.selected]="sprite.palette===pal.hash ? true : null">{{pal.name}}</option>
          </select>
        </div>
      </ng-template>
    </ngb-panel>

  </ngb-accordion>
<!-- </nav> -->